/* ---------------- Google fonts ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ------------------ Custom fonts goes here --------------- */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Light.woff") format("woff"),
    url("../fonts/HelveticaNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Bold.woff") format("woff"),
    url("../fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Heavy.ttf") format("woff2"),
    url("../fonts/HelveticaNeue-Heavy.woff") format("woff"),
    url("../fonts/HelveticaNeue-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ---------------- Basic css ------------------ */
html {
  font-size: 0.24213vw;
}

:root {
  scroll-behavior: unset;
  --white: #ffffff;
  --dark: #000000;
  --poppins: "Poppins", sans-serif;
}

img {
  width: 100%;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  color: inherit;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

/* body */
body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.94;
  color: #fefbfb;
  overflow-x: hidden;
  background: var(--dark);
}

.container {
  padding-left: 3rem;
  padding-right: 3rem;
}

main {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.figure img,
.figure {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/* Font Weights */
.f_300 {
  font-weight: 300 !important;
}
.f_400 {
  font-weight: 400 !important;
}
.f_500 {
  font-weight: 500 !important;
}
.f_600 {
  font-weight: 600 !important;
}
.f_700 {
  font-weight: 700 !important;
}
.f_800 {
  font-weight: 800 !important;
}
.f_900 {
  font-weight: 900 !important;
}

/* Font Family */
.poppins {
  font-family: "Poppins", sans-serif !important;
}
.helvetica_neue {
  font-family: "Helvetica Neue", sans-serif;
}
.proxy_nova {
  font-family: "Proxima Nova Rg", sans-serif;
}
/* titles & texts */

/* -------------- preloader --------------- */
#preloader {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loader3 {
  width: 25rem;
  height: 25rem;
  display: inline-block;
  padding: 0;
  text-align: left;
}

.loader3 span {
  position: absolute;
  display: inline-block;
  width: 25rem;
  height: 25rem;
  border-radius: 100%;
  background: #ffffff;
  -webkit-animation: loader3 1.5s linear infinite;
  animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
}

@-webkit-keyframes loader3 {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.8;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes loader3 {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.8;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

/* -------------- Hamburger Menu --------------- */
.hamburger-menu span {
  width: 2.5rem;
  height: 0.2rem;
  background: #000;
  position: absolute;
  border-radius: 10rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hamburger-menu {
  width: 3rem;
  height: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.hamburger-menu:hover {
  opacity: 0.5;
}

.bar .line-top {
  -webkit-transform: translateY(-0.6rem);
  -ms-transform: translateY(-0.6rem);
  transform: translateY(-0.6rem);
}

.bar .line-bottom {
  -webkit-transform: translateY(0.6rem);
  -ms-transform: translateY(0.6rem);
  transform: translateY(0.6rem);
}

.hamburger-menu.bar:hover .line-top {
  -webkit-transform: translateY(-0.7rem);
  -ms-transform: translateY(-0.7rem);
  transform: translateY(-0.7rem);
}

.hamburger-menu.bar:hover .line-bottom {
  -webkit-transform: translateY(0.7rem);
  -ms-transform: translateY(0.7rem);
  transform: translateY(0.7rem);
}

.cross .line-top {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cross .line-bottom {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cross .line-center {
  opacity: 0;
  width: 0;
}

/* -------------- Header styles --------------- */
.site_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #171717;
  z-index: 9999;
  height: 42rem;
  display: flex;
  align-items: center;
}

.logo img {
  width: 69rem;
}

.nav-link {
  font-size: 4.167rem;
  color: #fefbfb;
  line-height: 1.2;
  padding: 0 6.5rem !important;
  border-right: 0.1rem solid #fefbfb;
}

.nav-link:hover {
  color: #b69001;
}
.profile_icon img {
  width: 10rem;
  margin-left: 6.5rem;
}

.nav-item:last-child .nav-link {
  border-right: none;
}
/* ======================== Hero Section ========================= */
section.hero_section {
  margin-top: 42rem;
  margin-bottom: 38rem;
}
.header_slide_main {
  background: url(../img/hero_bg.png) no-repeat scroll top center / cover;
  position: relative;
  padding-top: 38rem;
  padding-bottom: 41.5rem;
}
.hero_section .container {
  position: relative;
}
.hero_section .owl-stage-outer,
.hero_section .title_lg {
  position: relative;
}
.header_slide_main::before {
  /* content: ""; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.5);
}
.header_slide p {
  font-size: 3.333rem;
  line-height: 1.2;
  padding-top: 6.5rem;
}
.header_slider_wrap_main {
  display: flex;
}
.header_slider {
  display: flex;
  gap: 18rem;
}

.title_lg {
  font-size: 10rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 21rem;
}

.owl-item {
  opacity: 0;
  transition: 1s;
}

.owl-item.active {
  opacity: 1;
}

.owl-item.active .header_slide  {
  transform: translateY(0);
  opacity: 1;
}

.owl-item.active .header_slide:first-child {
  transition-delay: 0.3s;
}
.owl-item.active .header_slide:nth-child(2) {
  transition-delay: 0.6s;
}
.owl-item.active .header_slide:nth-child(3) {
  transition-delay: 0.9s;
}

.owl-item .header_slide  {
  transform: translateY(5rem);
  transition: 0.5s ease;
  opacity: 0;
}

.hero_section .title_lg {
  transform: translateY(5rem);
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.owl-item.active .title_lg {
  transform: translateY(0);
  opacity: 1;
}

.owl-dots .owl-dot span {
  width: 2rem;
  height: 2rem;
  background: #494747;
  border-radius: 10rem;
  opacity: 1;
  display: block;
}

.owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 220rem;
  opacity: 1;
  display: flex;
  justify-content: center;
  display: flex;
  gap: 8rem;
}

.owl-dots .owl-dot {
  padding: 0;
}

.owl-dot.active span {
  background: #8b8a8a;
}

/* --------- Owl Setup Styles ---------- */
.owl-stage {
  width: 100%;
  display: flex;
  cursor: grab;
}

.owl-stage-outer {
  width: 100%;
}
.owl-item {
  margin-right: 0;
}

/* =============== Health Section ============== */
.health_cont {
  display: flex;
  gap: 10rem;
  justify-content: center;
}

.health_box img {
  width: 50rem;
}

.health_box p {
  font-size: 4rem;
  line-height: 1.2;
  padding-top: 5.5rem;
}

.title_green {
  font-size: 7.5rem;
  color: #b68a02;
  font-weight: 400;
  line-height: 1;
  padding-top: 14rem;
  padding-bottom: 24rem;
}

.health_icons img:nth-child(1) {
  width: 19.5rem;
}

.health_icons img:nth-child(2) {
  width: 26rem;
}

.health_icons {
  gap: 29rem;
}
.health_box img {
  transition: 0.2s ease;
}

.health_box img:hover {
  transform: scale(1.05);
}
/* ============== sponsor_section =============== */
.sponsor_section {
  padding-top: 38.5rem;
  padding-bottom: 26.5rem;
}

.sponsor_section .section_header {
  padding-bottom: 24.5rem;
}

.section_header img {
  width: 24rem;
}

.section_header {
  gap: 8rem;
}

.section_header_right .title_green {
  padding-top: 0;
  padding-bottom: 4rem;
}

.text_45 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1;
}

.sponsor_conts a:nth-child(1) img {
  width: 41rem;
}

.sponsor_conts a:nth-child(2) img {
  width: 24.5rem;
}

.sponsor_conts a:nth-child(3) img {
  width: 25rem;
}

.sponsor_conts a:nth-child(4) img {
  width: 24.5rem;
}

.sponsor_conts a:nth-child(5) img {
  width: 38rem;
}

.sponsor_conts {
  gap: 10rem;
}

.section_header {
  padding-left: 40rem;
}

.sponsor_conts img {
  transition: 0.3s ease;
}

.sponsor_conts img:hover {
  transform: scale(1.1);
}

/* =============== Service Section ============== */
.service_section {
  padding-bottom: 32rem;
}

.service_box img {
  width: 9rem;
}

.service_conts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  gap: 3.5rem 45rem;
  margin: 0 auto;
  padding-top: 19rem;
}

.service_box p {
  font-size: 6rem;
  color: #6c6c6b;
  padding-left: 2.5rem;
}

.trend_section .section_header {
  padding-bottom: 22.5rem;
}

.trend_section {
  padding-bottom: 56rem;
}

.trend_section .container > p {
  font-size: 4.16rem;
  color: #9c9c9b;
  font-weight: 400;
  font-family: var(--poppins);
  line-height: 1.5;
  padding-left: 64rem;
}

/* =============== Footer Section ============== */
.site_footer {
  padding-bottom: 18.5rem;
}

.site_footer img {
  width: 8.5rem;
  margin-bottom: 8.5rem;
}

.site_footer h2 {
  font-size: 8.3rem;
  color: #6c6e6d;
  font-weight: 500;
  line-height: 1;
}
